<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @professor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @professor.lastname %>
</p>

<p>
  <strong>Office:</strong>
  <%= @professor.office.roomnumber%>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
