<p id="notice"><%= notice %></p>

<p>
  <strong>Assignname:</strong>
  <%= @assignment.assignname %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @assignment.duedate %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @assignment.professor_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @assignment.section_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
